<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../..">Administration</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['..']">Persons</a></li>
    <li class="breadcrumb-item active">{{ breadCrumbTitle() }}</li>
  </ol>

  <h1>
    Administration: {{ pageTitle() }}
  </h1>


  <div class="row control-row">

    <div class="button-group">
      <button (click)="saveEntity()"
        class="btn btn-outline-success"
        type="submit">
        Save
      </button>
      <button (click)="cancelEditEntity()"
        class="btn btn-outline-danger"
        type="button">
        Cancel
      </button>
      @if (currentEntity && currentEntity.id) {
        <button (click)="deleteEntity(currentEntity!)"
          class="btn btn-danger"
          type="button">
          Delete
        </button>
      }
    </div>
  </div>

  @if (currentEntity) {
    <div class="row">
      @if (currentEntity) {
        <form>
          <fieldset>
            <section>
              <div class="form-group">
                <label class="form-label mt-4"
                  for="entity.key">
                  Key:
                </label>
                <input [(ngModel)]="currentEntity.key"
                  class="form-control"
                  id="entity.key"
                  name="entity.key"
                  type="text">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="form-group col-6">
                    <label class="form-label mt-4">
                      From:
                    </label>
                    <chronos-date-input [(date)]="currentEntity.from"></chronos-date-input>
                  </div>
                  <div class="form-group col-6">
                    <label class="form-label mt-4">
                      To:
                    </label>
                    <chronos-date-input [(date)]="currentEntity.to"></chronos-date-input>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <label class="form-label mt-4">
                Linked Wiki Article:
              </label>
              @if (wikipediaSummary) {
                <chronos-wikipedia-summary [wikiSummary]="wikipediaSummary">
                </chronos-wikipedia-summary>
              } @else {
                No summary available
              }
              <div class="form-group">
                <label class="form-label mt-4"
                  for="entity.wikiarticle">
                  Search for article:
                </label>
                <div class="input-group mb-3">
                  <span class="input-group-text">
                    @if (!searchWikipediaArticlesLoading) {
                      <fa-icon [icon]="searchIcon"></fa-icon>
                    }
                    @if (searchWikipediaArticlesLoading) {
                      <fa-icon [icon]="loadingIcon" class="fa-spin-pulse"></fa-icon>
                    }
                  </span>
                  <input (ngModelChange)="triggerSearch()"
                    [(ngModel)]="wikipediaSearchTerm"
                    aria-label="Search for Wikipedia articles"
                    class="form-control"
                    id="entity.wikiarticle"
                    name="entity.wikiarticle"
                    placeholder="Search for Wikipedia articles"
                    type="text"/>
                </div>
                @for (article of matchingArticles; track article) {
                  <chronos-wikipedia-article-info (click)="assignArticleToCurrentEntity(article)"
                  [article]="article"></chronos-wikipedia-article-info>
                }
              </div>
            </section>
          </fieldset>
        </form>
      }
    </div>
  } @else {
    <div class="row">
      Loading ...
    </div>
  }

</div>
