<h1>Administration: Schema</h1>
<!-- <p class="text-secondary-emphasis small">
        Some explanation here ...
    </p> -->

<div class="admin-controls">
  <button class="btn btn-outline-success" (click)="newType()">
    <fa-icon [icon]="newIcon"></fa-icon>
    New Schema Type
  </button>
</div>

@if (schema.isLoading()) {
  <p>Loading...</p>
}

@if (schema.error()) {
  <p>Error loading data</p>
}

@if (schema.value(); as types) {
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Key</th>
        <th scope="col">Explanation</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (type of types; track type.id) {
        <tr class="pointer">
          <td (click)="editType(type)">
            <div class="color"
                  [class.light]="isBright(type.color)"
                  [style.background-color]="type.color">
            @if (type.icon) {
              <fa-icon [icon]="type.icon"></fa-icon>
            }
            </div>
          </td>
          <td (click)="editType(type)">
            {{ type.key }}
          </td>
          <td (click)="editType(type)">
            {{ type.explanation }}
          </td>
          <td class="actions">
            <button class="btn btn-sm btn-link btn-outline-success"
                    (click)="editType(type)">
              <fa-icon [icon]="editIcon"></fa-icon>
            </button>
            <button class="btn btn-sm btn-link btn-outline-danger"
                    (click)="deleteType(type)">
              <fa-icon [icon]="deleteIcon"></fa-icon>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
