<h1>
  Administration:
  @if (isNew()) {
    Create New Entry
  } @else {
    Edit Entry '{{ entryResource.value()! | attribute: 'key' }}'
  }
  
</h1>
<p class="text-secondary-emphasis small">
  Create or edit a data entry and its attributes and relations to other entries.
</p>

<div class="admin-controls">
  <!-- <a href="#base-data">Base Data</a>
  <a href="#attributes">Attributes</a>
  <a href="#relations">Relations</a> -->

  @if (!isNew()) {
    <button class="btn btn-danger" (click)="delete()">
      <fa-icon [icon]="deleteIcon"></fa-icon>
      Delete
    </button>
  }
  <button class="btn btn-outline-danger" (click)="cancel()">
    <fa-icon [icon]="cancelIcon"></fa-icon>
    Cancel
  </button>
  <div class="btn-group" role="group">
    <button class="btn btn-outline-success"
            (click)="save(false)"
            [disabled]="!form().valid">
      <fa-icon [icon]="saveIcon"></fa-icon>
      Save
    </button>
    <button class="btn btn-success"
            (click)="save(true)"
            [disabled]="!form().valid">
      <fa-icon [icon]="saveIcon"></fa-icon>
      Save & return
    </button>
  </div>
</div>

@if (schema.isLoading()) {
  <p>Loading...</p>
}

@if (schema.error()) {
  <p>Error loading schema</p>
}

<!-- Meta information -->
@if (entryResource.value()?._meta; as meta) {
  <b>Version {{ meta.version }}</b>
  @if (meta.createDate && meta.createAuthor) {
    <small>
      | Created <b>{{ meta.createDate | date: 'medium' }}</b> by <b>{{ meta.createAuthor }}</b>
    </small>
  }
  @if (meta.lastUpdateDate && meta.lastUpdateAuthor) {
    <small>
      | Last updated <b>{{ meta.lastUpdateDate | date: 'medium' }}</b> by <b>{{ meta.lastUpdateAuthor }}</b>
    </small>
  }
}

@if (typeForm && schema.value(); as allTypes) {
    <form [formGroup]="typeForm">
        <h2 id="entry-type">Type</h2>
        <p class="text-secondary-emphasis small">
          The type of an entry determines which attributes it has and how it can relate to other entries.
        </p>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="type">
                Type:
            </label>
            @if(isNew()) {
              <div class="col-sm-8">
                <select aria-label="Select type"
                        class="form-select"
                        formControlName="type"
                        id="type"
                        name="type"
                        type="type"
                        (change)="updateType()"
                        >
                    @for(type of allTypes; track type) {
                      <option [selected]="currentEntryTypeKey() === type"
                              [value]="type.key">
                              @if (type.icon) {
                                <fa-icon [icon]="type.icon"></fa-icon>
                              }
                              {{ type.key }}
                      </option>
                    }
                </select>
              </div>
            } @else {
              <div class="col-sm-8 p-2">
                {{ entryResource.value()?.labels }}
              </div>
            }
        </div>
      </form>


      @if(selectedType(); as type) {
        <form [formGroup]="form()">
          <h2 id="entry-attributes">Attributes</h2>

          <!-- DEFAULT ATTRIBUTES -->
          <h4 id="entry-attributes-default" class="mt-4 text-secondary">Default Attributes</h4>
          <p class="text-secondary-emphasis small">
            The default attributes are independent of the entry type.
          </p>

          
          @for(attr of type.defaultAttributes; track $index) {
            <div class="form-group">
              <div class="row mt-2">
                  <label class="col-sm-4 col-form-label capitalize" [attr.for]="attr.key">
                      {{ attr.key }}{{ attr.isMandatory ? ' *' : '' }}:
                      <chronos-tooltip [text]="[attr.explanation, attr.examples]">
                      </chronos-tooltip>
                  </label>
                  <div class="col-sm-8">
                      <chronos-dynamic-input [attribute]="attr"
                                             [form]="form()"
                                             [disabled]="!isNew() && !attr.isChangeable"
                                             [backendErrors]="backendErrors()">
                      </chronos-dynamic-input>
                  </div>
              </div>
            </div>
          }


          <!-- SPECIFIC ATTRIBUTES -->
          <h4 id="entry-attributes-specific" class="mt-4 text-secondary">Specific Attributes</h4>
          <p class="text-secondary-emphasis small">
            Specific attributes are defined by the entry type.
          </p>

          @for(attr of type.attributes; track attr.key) {
            <div class="form-group">
              <div class="row mt-2">
                  <label class="col-sm-4 col-form-label capitalize" [attr.for]="attr.key">
                      {{ attr.key }}{{ attr.isMandatory ? ' *' : '' }}:
                      <chronos-tooltip [text]="[attr.explanation, attr.examples]">
                      </chronos-tooltip>
                  </label>
                  <div class="col-sm-8">
                      <chronos-dynamic-input [attribute]="attr"
                                             [form]="form()">
                      </chronos-dynamic-input>
                  </div>
              </div>
            </div>
          }
        </form>
      }
}

<h2 id="entry-relations">Relations</h2>

<chronos-entity-network-graph [data]="meshResource.value()"
                              [schema]="schema.value()"
                              [(selectedElements)]="selectedElements">
</chronos-entity-network-graph>