@use '../../../../../../theme/variables';

:host {
    min-height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.offcanvas-footer {
    border-top: var(--bs-border-width) solid var(--bs-border-color);
    flex-grow: 1;
    padding: 20px var(--bs-offcanvas-padding-x) 50px;
    text-align: right;

    > * {
        margin-left: 5px;
    }
}

h3 {
    margin-top: 2rem;
}


table {
  width: 100%;
  table-layout: auto;
}

table th:last-child,
table td:last-child {
  white-space: nowrap;
  width: 1%;
}

tr.default-attr > td {
  color: variables.$gray-600;
}

