<h1>
  Administration:
  {{
    isNew() ? "Create New Type" : 'Type "' + typeResource.value()?.key + '"'
  }}
</h1>
<p class="text-secondary-emphasis small">
  Edit an existing schema type and its attributes and relations to other types.
</p>

<div class="admin-controls">
  <!-- <a href="#base-data">Base Data</a>
  <a href="#attributes">Attributes</a>
  <a href="#relations">Relations</a> -->

  @if (!isNew()) {
    <button class="btn btn-danger" (click)="delete()">
      <fa-icon [icon]="deleteIcon"></fa-icon>
      Delete
    </button>
  }
  <button class="btn btn-outline-danger" (click)="cancel()">
    <fa-icon [icon]="cancelIcon"></fa-icon>
    Cancel
  </button>

  <div class="btn-group" role="group">
    <button class="btn btn-outline-success"
            (click)="save(false)"
            [disabled]="!form?.valid">
      <fa-icon [icon]="saveIcon"></fa-icon>
      Save
    </button>
    <button class="btn btn-success"
            (click)="save(true)"
            [disabled]="!form?.valid">
      <fa-icon [icon]="saveIcon"></fa-icon>
      Save & return
    </button>
    @if (!form?.valid) {
      <button class="btn btn-outline-warning"
              (click)="toggleForceDisplayErrors()">
        <fa-icon [icon]="helpIcon"></fa-icon>
      </button>
    }
  </div>

</div>

@if (typeResource.isLoading()) {
  <p>Loading...</p>
}

@if (typeResource.error()) {
  <p>Error loading data</p>
}

@if (form && typeResource.value(); as type) {
  <form [formGroup]="form">
    <h2 id="base-data">Base Data</h2>
    <fieldset>
      <div class="form-group">
        <label class="form-label mt-4" for="key">Key:</label>
        <input
          class="form-control"
          formControlName="key"
          id="key"
          name="key"
          type="text"
          [class.is-invalid]="isInvalid('key')"
        />
        <div class="invalid-feedback">
          @for (error of errors('key', 'Key'); track error) {
            {{ error }}
          }
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-group col-6">
            <label class="form-label mt-4" for="explanation"
              >Explanation:</label
            >
            <input
              class="form-control"
              formControlName="explanation"
              id="explanation"
              name="explanation"
              type="text"
              [class.is-invalid]="isInvalid('explanation')"
            />
            <div class="invalid-feedback">
              @for (error of errors('explanation', 'Explanation'); track error) {
                {{ error }}
              }
            </div>
          </div>
          <div class="form-group col-6">
            <label class="form-label mt-4" for="examples">Examples:</label>
            <input
              class="form-control"
              formControlName="examples"
              id="examples"
              name="examples"
              type="text"
              [class.is-invalid]="isInvalid('examples')"
            />
            <div class="invalid-feedback">
              @for (error of errors('examples', 'Examples'); track error) {
                {{ error }}
              }
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-group col-6">
            <label class="form-label mt-4" for="icon">Icon:</label>
            <chronos-icon-select formControlName="icon"
                                 id="icon"
                                 name="icon"
                                 [class.is-invalid]="isInvalid('icon')">
            </chronos-icon-select>
            <div class="invalid-feedback">
              @for (error of errors('icon', 'Icon'); track error) {
                {{ error }}
              }
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <h2 id="attributes">Attributes</h2>

    <div class="text-secondary-emphasis small">
      Default attributes (gray) are always present and cannot be modified.
    </div>

    <div class="admin-controls">
      <button class="btn btn-outline-success"
              (click)="addNewAttribute()">
              Add attribute
      </button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Type</th>
          <th scope="col">Explanation</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (attribute of type.attributes; track attribute.key) {
          <tr class="pointer">
            <td (click)="editAttribute(attribute)">
              {{ attribute.key }}
            </td>
            <td (click)="editAttribute(attribute)">
              {{ attribute.type }}
            </td>
            <td (click)="editAttribute(attribute)">
              {{ attribute.explanation }}
            </td>
            <td class="actions">
              <button class="btn btn-sm btn-link btn-outline-success"
                      (click)="editAttribute(attribute)">
                <fa-icon [icon]="editIcon"></fa-icon>
              </button>
              <button class="btn btn-sm btn-link btn-outline-danger"
                      (click)="deleteAttribute(attribute)">
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </button>
            </td>
          </tr>
        }

        @for (attribute of type.defaultAttributes; track attribute.key) {
          <tr class="pointer default-attr">
            <td>
              {{ attribute.key }}
            </td>
            <td>
              {{ attribute.type }}
            </td>
            <td>
              {{ attribute.explanation }}
            </td>
            <td class="actions"></td>
          </tr>
        }

      </tbody>
    </table>


    <h2 id="relations">Relations</h2>

    <div class="admin-controls">
      <button class="btn btn-outline-success"
              (click)="addNewRelation()">
              Add relation
      </button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Target</th>
          <th scope="col">Explanation</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (relation of type.relations; track relation.key) {
          <tr class="pointer">
            <td (click)="editRelation(relation)">
              {{ relation.key }}
            </td>
            <td (click)="editRelation(relation)">
              {{ relation.target?.key }}
            </td>
            <td (click)="editRelation(relation)">
              {{ relation.explanation }}
            </td>
            <td class="actions">
              <button class="btn btn-sm btn-link btn-outline-success"
                      (click)="editRelation(relation)">
                <fa-icon [icon]="editIcon"></fa-icon>
              </button>
              <button class="btn btn-sm btn-link btn-outline-danger"
                      (click)="deleteRelation(relation)">
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </form>
}
