<div class="modal-header">
  <h4 class="modal-title"
      id="modal-basic-title">
    Edit Relation of {{ entry.title }}
  </h4>
  <button type="button"
          class="btn-close"
          aria-label="Close"
          (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body">
  <form>

    <div class="form-group inline"
         *ngIf="!isInverse else inverseRelation">
        <span class="btn">
          {{ editedRelation.from?.title }}
        </span>

      <chronos-admin-relation-type-select-input [(relationType)]="editedRelation.type">
      </chronos-admin-relation-type-select-input>

      <chronos-admin-entries-select-input [(entry)]="editedRelation.to">
      </chronos-admin-entries-select-input>
    </div>

    <ng-template #inverseRelation>
      <div class="form-group inline">
        <chronos-admin-entries-select-input [(entry)]="editedRelation.from">
        </chronos-admin-entries-select-input>

        <chronos-admin-relation-type-select-input [(relationType)]="editedRelation.type">
        </chronos-admin-relation-type-select-input>

        <span class="btn">
          {{ editedRelation.to?.title }}
        </span>
      </div>
    </ng-template>

    <a (click)="reverse()" class="inline">
      <div class="form-check form-switch">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               [checked]="isInverse">
      </div>
      Reverse the relation
    </a>
  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-light"
          (click)="activeModal.dismiss()">
    Cancel
  </button>
  <button type="button"
          class="btn btn-outline-danger"
          (click)="activeModal.close(editedRelation)">
    Ok
  </button>
</div>
