<div class="container">

  <div class="header-buttons">
    <button class="btn btn-outline-success"
            *ngIf="showSearchInputs"
            (click)="updateSearchParams()">
      Update
    </button>
    <button class="btn btn-primary"
            *ngIf="showSearchInputs"
            (click)="setShowSearchInputs(false)">
      <fa-icon [icon]="hideSearchIcon"></fa-icon>
      Hide Parameters
    </button>

    <button class="btn btn-primary"
            *ngIf="!showSearchInputs"
            (click)="setShowSearchInputs(true)">
      <fa-icon [icon]="showSearchIcon"></fa-icon>
      Show Parameters
    </button>
  </div>

  <h1>Discover</h1>
  <p class="text-primary-emphasis small">
    Here you can do whatever you want or <a (click)="setShowSearchInputs(true)">open the config</a> and adopt it to your desire
  </p>

  <div class="row">
    <div [ngClass]="showSearchInputs ? 'col-md-4' : 'col-md-0'">

      <section>
        <h3>Search</h3>

        <div class="form-group">
          <label class="form-label mt-2">
            Filter by title:
            <chronos-tooltip>
              Type parts of a title to search for entries;
              hit the <code>Enter</code> key or
              the <a (click)="updateSearchParams()">Update</a> button to submit.
            </chronos-tooltip>
          </label>

          <input class="form-control"
                 type="search"
                 placeholder="Search"
                 [(ngModel)]="title"
                 (keydown)="keyDown($event)"
          >
        </div>

        <div class="form-group">
          <label class="form-label mt-2">
            Filter by year:
          </label>
          <chronos-year-range-input [(from)]="from"
                                    [(to)]="to"
                                    (submit)="updateSearchParams()">
          </chronos-year-range-input>
        </div>

        <div class="form-group">
          <label for="tag.category"
                 class="form-label mt-4">
            Color Category:
          </label>

          <div ngbDropdown class="btn-block">
            <button type="button"
                    class="btn btn-primary"
                    id="tag.category"
                    ngbDropdownToggle>
              {{ selectedColorTagCategory?.name || 'Select a category' }}
            </button>
            <div ngbDropdownMenu
                 aria-labelledby="tag.category">
              <div class="mb-1">
                <input
                  type="search"
                  class="form-control borderless shadow-none"
                  id="tag.category.search"
                  name="tag.category.search"
                  placeholder="Search ..."
                  [(ngModel)]="colorCategorySearch"
                />
              </div>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem
                      (click)="selectColorTagCategory(undefined)">
                None
              </button>
              <ng-container
                *ngFor="let category of tagCategories">
                <button ngbDropdownItem
                        *ngIf="filterTagCategory(category)"
                        (click)="selectColorTagCategory(category)">
                  {{ category.name }}
                </button>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group tag-selection">
          <label class="form-label mt-2">
            Filter by tags:
          </label>
          <ng-container *ngFor="let selectedTagGroup of selectedTagGroups; index as i; trackBy:trackSelectedTagGroup">
            <chronos-tag-selection [(tags)]="selectedTagGroups[i]"
                                   [availableTags]="(tags$ | async) || []"
                                   (tagsChange)="updateSearchParams()">
              <div class="remove-button"
                   (click)="removeSelectedTagGroup(selectedTagGroup)">
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </div>
            </chronos-tag-selection>
          </ng-container>

          <div class="button-group">
            <button class="btn btn-primary"
                    (click)="addTagGroup()">
              <fa-icon [icon]="addIcon"></fa-icon>
              Add tag group
            </button>
          </div>
        </div>

      </section>

      <section>
        <h3>Sort</h3>

        <div class="form-group">
          <label for="sort.property"
                 class="form-label mt-4">
            Sort by:
          </label>

          <div ngbDropdown class="input-group">
            <button type="button"
                    class="btn btn-primary"
                    id="sort.property"
                    ngbDropdownToggle>
              {{ sortConfig?.property?.label || 'Select a sort Property' }}
            </button>
            <div ngbDropdownMenu
                 aria-labelledby="sort.property">
              <button ngbDropdownItem
                      (click)="sort(null)">
                None
              </button>
              <div class="dropdown-divider"></div>
              <ng-container
                *ngFor="let sortOption of sortOptions">
                <button ngbDropdownItem
                        (click)="sort(sortOption)">
                  {{ sortOption.label }}
                </button>
              </ng-container>
            </div>
            <button type="button"
                    class="btn btn-light input-group-last"
                    (click)="rotateSort()">
              <fa-icon [icon]="sortIcon()"></fa-icon>
            </button>
          </div>
        </div>

      </section>

      <section>
        <h3>Display</h3>

        <div class="form-group">
          <ng-container *ngFor="let option of displayOptions">
            <button class="btn btn-dark btn-lg margin-10 display-btn"
                    [ngClass]="{active: display === option.id}"
                    (click)="selectDisplayOption(option.id)">
              <fa-icon [icon]="option.icon">
              </fa-icon>
              <div class="caption">
                {{ option.label }}
              </div>
            </button>
          </ng-container>

        </div>
      </section>

      <section>
        <h3>Grouping</h3>

        <div class="form-group">
          <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   id="mergeGroups"
                   [(ngModel)]="mergeGroups"
                   (ngModelChange)="updateSearchParams()"
            >
            <label class="form-check-label"
                   for="mergeGroups">
              Merge groups?
            </label>
          </div>

        </div>

      </section>

    </div>

    <div class="col-md-8" *ngIf="entries.length > 0">
      <section class="sticky-top">

        <ng-container *ngIf="display ==='timeline'">

          <h3>Timeline</h3>

          <chronos-timeline [entries]="entries"
                            [colorCategory]="selectedColorTagCategory"
                            (entrySelected)="onEntrySelected($event)"
                            [fromYear]="from"
                            [toYear]="to">
          </chronos-timeline>

          <div class="tag-legend" *ngIf="colorCategoryId">
            Tag Legend:
            <ng-container *ngFor="let tag of tags$ | async">
              <chronos-tag *ngIf="tag.tagCategory?.id === colorCategoryId"
                           [tag]="tag"
                           size="small"
                           [hideCategory]="true">
              </chronos-tag>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="display === 'table'">

          <h3>Table</h3>

          <chronos-entries-table (entryClick)="onEntrySelected($event)"
                                 [entries]="flatEntries()"
                                 [searchable]="false">
          </chronos-entries-table>
        </ng-container>

        <div *ngIf="selectedEntrySummary"
             class="info-section">
          <chronos-wikipedia-summary [wikiSummary]="selectedEntrySummary">
          </chronos-wikipedia-summary>
          <ng-template>
            No summary available
          </ng-template>
        </div>
      </section>
    </div>

  </div>

</div>
