.form-control > .tag-list {
  margin-top: 5px;
}

.date-range > * {
  margin-right: 5px;
}

.section-header {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
  width: 100%;
}

.action-icon {
  margin-left: 5px;
  cursor: pointer;
}
