<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../..">Administration</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['..']">Entries</a></li>
    <li class="breadcrumb-item active">{{ breadCrumbTitle() }}</li>
  </ol>

  <h1>
    Administration: {{ pageTitle() }}
  </h1>

  <ng-template #noCurrentEntry>
    <div class="row">
      Loading ...
    </div>
  </ng-template>

  <div class="row" *ngIf="currentEntry else noCurrentEntry">
    <div class="col-8">
      <form>
        <h2 class="section-header">
          Base data
        </h2>

        <div class="form-group">
          <label for="entry.title"
                 class="form-label mt-4">
            Title:
          </label>
          <input type="text"
                 class="form-control"
                 id="entry.title"
                 name="entry.title"
                 [(ngModel)]="currentEntry.title"
                 (ngModelChange)="searchSummary()">
          <small id="title-help"
                 class="form-text text-muted">
            You can explicitly add a Wikipedia page
            <a class="link"
               (click)="wikipediaPageInputVisible = !wikipediaPageInputVisible">
              here
            </a>
          </small>
        </div>

        <div class="form-group"
             *ngIf="wikipediaPageInputVisible">
          <label for="entry.wikipediaPage"
                 class="form-label mt-4">
            Wikipedia Page:
          </label>
          <input type="text"
                 class="form-control"
                 id="entry.wikipediaPage"
                 name="entry.wikipediaPage"
                 [(ngModel)]="currentEntry.wikipediaPage"
                 (ngModelChange)="searchSummary()">
        </div>

        <div class="form-group">
          <label for="entry.subtitle"
                 class="form-label mt-4">
            Subtitle:
          </label>
          <input type="text"
                 class="form-control"
                 id="entry.subtitle"
                 name="entry.subtitle"
                 [(ngModel)]="currentEntry.subTitle">
        </div>

        <div class="form-group">
          <label class="form-label mt-4">
            Dates:
          </label>

          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let range of currentEntry.dateRanges"
                  class="pointer"
                  (click)="editDateRange(range)">
                <td>{{ range.type }}</td>
                <td>{{ range.start | date }} - {{ range.end | date }}</td>
                <td class="icon-col">
                  <fa-icon [icon]="deleteIcon"
                           (click)="deleteDateRange(range)"
                           class="action-icon">
                    ></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="button-group button-row">
            <button (click)="addDateRange()"
                    class="btn btn-outline-success btn-block">
              <fa-icon [icon]="newIcon"></fa-icon>
              Add Date
            </button>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label mt-4">
            Tags:
          </label>

          <chronos-tag-selection [(tags)]="currentEntry.tags!"
                                 [availableTags]="availableTags"></chronos-tag-selection>
        </div>

        <div class="button-group">
          <button type="submit"
                  class="btn btn-outline-success"
                  (click)="saveEntry()">
            Save
          </button>
          <button type="button"
                  class="btn btn-outline-danger"
                  (click)="cancelEditEntry()">
            Cancel
          </button>
          <button *ngIf="currentEntry && currentEntry.id"
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteEntry(currentEntry)">
            Delete
          </button>
        </div>

      </form>

      <form>
        <h2 class="section-header">
          Relations
        </h2>

        <ng-container *ngFor="let relation of currentEntry.relations">
          <div>
            {{ relationLabel(relation) }}
            <a (click)="goTo(relationOtherEntry(relation))"
               href="#">
              {{ relationOtherEntry(relation)?.title }}
            </a>
          </div>
        </ng-container>
      </form>

    </div>

    <div class="col-4">
      <div *ngIf="wikipediaSummary else noSummary"
           class="form-group">
        <label for="entry.wikipediaPage"
               class="form-label mt-4">
          Wikipedia preview:
        </label>
        <chronos-wikipedia-summary [wikiSummary]="wikipediaSummary">
        </chronos-wikipedia-summary>
      </div>

      <ng-template #noSummary>
        No summary available
      </ng-template>

    </div>
  </div>

</div>
