<h1>Administration: Data</h1>

@if (statistics.isLoading()) {
  <p>Loading...</p>
}

@if (statistics.error()) {
  <p>Error loading data</p>
}

@if (statistics.value(); as statistics) {
    <div class="row">
        <div class="col col-md-3 d-flex">
            <div class="card border-light-subtle mb-3 flex-fill">
                <div class="card-header">
                    Total Elements
                </div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text d-flex align-items-center justify-content-center flex-fill text-center fs-2">
                        {{ total() }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col col-md-9 d-flex">
            <div class="card border-light-subtle mb-3 flex-fill">
                <div class="card-header">
                    Statistics
                </div>
                <div class="card-body">
                    <table class="w-100">
                        <tbody>
                        @for (typeStatistic of statistics; track typeStatistic) {
                            <tr>
                            <td class="w-25">
                                {{ typeStatistic.label }}
                            </td>
                            <td>
                                {{ typeStatistic.count }}
                            </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div class="admin-controls">
  <button class="btn btn-outline-success" (click)="newEntry()">
    <fa-icon [icon]="newIcon"></fa-icon>
    New Entry
  </button>
</div>


@if (data.error()) {
  <p>Error loading data</p>
}

@if (data.value(); as entries) {
  <table class="table table-hover" 
         [loading]="data.isLoading()">
    <thead>
      <tr>
        <th scope="col"
            width="10%"
            sortBy="key"
            [sort]="queryParams()"
            (onSortBy)="sortBy($event)">
          Key
        </th>
        <th scope="col" width="20%">Type</th>
        <th scope="col"
            width="30%"
            sortBy="name"
            [sort]="queryParams()"
            (onSortBy)="sortBy($event)">
          Name
        </th>
        <th scope="col"
            width="20%"
            sortBy="from"
            [sort]="queryParams()"
            (onSortBy)="sortBy($event)">
          From
        </th>
        <th scope="col"
            width="20%"
            sortBy="to"
            [sort]="queryParams()"
            (onSortBy)="sortBy($event)">
          To
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (entry of entries; track entry.elementId) {
        <tr class="pointer">
          <td (click)="editEntry(entry)">
            {{ entry | attribute: 'key' }}
          </td>
          <td (click)="editEntry(entry)">
            {{ entry.labels[0] }}
          </td>
          <td (click)="editEntry(entry)">
            {{ entry | attribute: 'name' }}
          </td>
          <td (click)="editEntry(entry)">
            {{ entry | attribute: 'start' }}
          </td>
          <td (click)="editEntry(entry)">
            {{ entry | attribute: 'end' }}
          </td>
          <td class="actions">
            <button class="btn btn-sm btn-link btn-outline-success"
                    (click)="editEntry(entry)">
              <fa-icon [icon]="editIcon"></fa-icon>
            </button>
            <!-- <button class="btn btn-sm btn-link btn-outline-danger"
                    (click)="deleteType(type)">
              <fa-icon [icon]="deleteIcon"></fa-icon>
            </button> -->
          </td>
        </tr>
      }
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between align-items-center p-2">

    <div class="d-flex align-items-center gap-2">
        <label for="pageSize" class="mb-0">Rows per page:</label>
        <select id="pageSize"
                class="form-select w-auto"
                [ngModel]="queryParams().pageSize"
                (ngModelChange)="setPageSize($event)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>

    <nav aria-label="...">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button"
                    class="btn btn-secondary"
                    [disabled]="!hasPreviousPage()"
                    (click)="previousPage()"
                    tabindex="-1">
                &lt;
            </button>
            <button type="button"
                    class="btn btn-secondary">
                    {{ (queryParams().page) }}
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    [disabled]="!hasNextPage()"
                    (click)="nextPage()">
                &gt;
            </button>
        </div>
    </nav>

  </div>
}


