<table class="table table-hover">
  <thead>
    <tr>
      <!-- Select -->
      @if (selectable) {
        <th scope="col">
          <input (click)="toggleAllTypesSelection()"
            [ngModel]="allTypesSelected()"
            class="form-check-input"
            id="select-all-types"
            type="checkbox"
            value="">
          @if (selectedTypes.size > 0) {
            <span>
              ({{ selectedTypes.size }})
            </span>
          }
        </th>
      }

      <!-- Key -->
      <th scope="col">
        @if (search.key) {
          <fa-icon (click)="clearKey()"
            [icon]="clearIcon"
            [size]="'sm'"
          class="pointer"></fa-icon>
        }
        <input (keydown.enter)="submit.emit()"
          [(ngModel)]="search.key"
          [disabled]="!searchable"
          name="type-search-key"
          placeholder="Key"
          type="search"
          >
      </th>

      <!-- Dates - Start -->
      <th class="col">
        @if (search.from) {
          <fa-icon (click)="clearDateQuery()"
            [icon]="clearIcon"
            [size]="'sm'"
          class="pointer"></fa-icon>
        }
        <input (keydown.enter)="submit.emit()"
          [(ngModel)]="search.from"
          [disabled]="!searchable"
          class="right"
          name="type-search-dates-from"
          placeholder="From"
          type="search"
          >
      </th>

      <!-- Dates - Separator -->
      <th class="col slim">
        -
      </th>

      <!-- Dates - End -->
      <th class="col">
        @if (search.to) {
          <fa-icon (click)="clearDateQuery()"
            [icon]="clearIcon"
            [size]="'sm'"
          class="pointer"></fa-icon>
        }
        <input (keydown.enter)="submit.emit()"
          [(ngModel)]="search.to"
          [disabled]="!searchable"
          name="type-search-dates-to"
          placeholder="To"
          type="search"
          >
      </th>

      <!-- Actions -->
      @if (actions.length > 0) {
        <th
          class="icon-col">
          @if (searchable) {
            <fa-icon
              [icon]="searchIcon"
            [size]="'sm'"></fa-icon>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (type of filteredTypes(); track type) {
      <tr (click)="typeClick.emit(type)" class="pointer">
        <!-- Select -->
        @if (selectable) {
          <th scope="col">
            <input (ngModelChange)="toggleTypeSelection(type._original)"
              [ngModel]="isTypeSelected(type._original)"
              class="form-check-input"
              id="select-type-{{ type.id }}"
              type="checkbox"
              value="">
          </th>
        }
        <!-- Key -->
        <td (click)="typeClick.emit(type._original)"
          class="main-column">
          {{ type.key }}
        </td>
        <!-- Dates - Start -->
        <td class="secondary-column right">
          {{ type.from }}
        </td>
        <!-- Dates - Separator -->
        <td class="secondary-column slim">
          -
        </td>
        <!-- Dates - End -->
        <td class="secondary-column">
          {{ type.to }}
        </td>
        <!-- Actions -->
        @if (actions.length > 0) {
          <td
            class="icon-col">
            <div ngbDropdown>
              <fa-icon (click)="$event.stopPropagation()" [icon]="ellipsisIcon"
              ngbDropdownToggle></fa-icon>
              <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
                @for (action of actions; track action) {
                  <button (click)="action.fn(type); $event.stopPropagation()"
                    [ngClass]="action.color ? ('text-' + action.color) : ''"
                    ngbDropdownItem>
                    <fa-icon [icon]="action.icon"></fa-icon>
                    {{ action.text }}
                  </button>
                }
              </div>
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
