@use 'variables';

.form-check {
    padding-top: 1.3rem;
}

.attribute-allowed-value {
    border-radius: variables.$border-radius;
    margin: 3px 0;
    display: flex;

    .value {
        padding-left: 3px;
    }

    input {
        border: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.05);
    }
}