<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    @if (isNew()) {
      Create Attribute
    } @else {
      Edit Attribute "{{ attribute()?.key }}"
    }
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="cancel()"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="row">
        <div class="form-group">
          <label class="form-label mt-4" for="key">Key:</label>
          <input
            class="form-control"
            formControlName="key"
            id="key"
            name="key"
            type="text"
            [class.is-invalid]="isInvalid('key')"
          />
          <div class="invalid-feedback">
            @for (error of errors('key', 'Key'); track error) {
              {{ error }}
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="form-label mt-4" for="type">Type:</label>
          <select aria-label="Select type"
                  class="form-select"
                  formControlName="type"
                  id="type"
                  name="type"
                  type="type"
                  [class.is-invalid]="isInvalid('type')"
                >
            @for(type of types; track type) {
              <option [selected]="attribute()?.type === type"
                      [value]="type">{{ type }}</option>
            }
          </select>
          <div class="invalid-feedback">
            @for (error of errors('type', 'Type'); track error) {
              {{ error }}
            }
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label class="form-label mt-4" for="explanation">Explanation:</label>
          <input
            class="form-control"
            formControlName="explanation"
            id="explanation"
            name="explanation"
            type="text"
            [class.is-invalid]="isInvalid('explanation')"
          />
          <div class="invalid-feedback">
            @for (error of errors('explanation', 'Explanation'); track error) {
              {{ error }}
            }
          </div>
        </div>
        <div class="form-group col-6">
          <label class="form-label mt-4" for="examples">Examples:</label>
          <input
            class="form-control"
            formControlName="examples"
            id="examples"
            name="examples"
            type="text"
            [class.is-invalid]="isInvalid('examples')"
          />
          <div class="invalid-feedback">
            @for (error of errors('examples', 'Examples'); track error) {
              {{ error }}
            }
          </div>
        </div>
      </div>


      <!-- isMandatory -->
      <div class="form-check col-12">
        <input type="checkbox"
                class="form-check-input"
                formControlName="isMandatory"
                id="isMandatory"
                name="isMandatory">
        <label class="form-check-label" for="isMandatory">Is Mandatory?</label>
      </div>

      <!-- isArray - ENUM only -->
      @if (isType(ENUM)) {
        <div class="form-check col-12">
          <input type="checkbox"
                class="form-check-input"
                formControlName="isArray"
                id="isArray"
                name="isArray">
          <label class="form-check-label" for="isArray">Is Array?</label>
        </div>
      }

      <!-- valuePattern - STRING only -->
      @if (isType(STRING)) {
        <div class="form-group col-12">
          <label class="form-label mt-4" for="valuePattern">Value Pattern:</label>
          <input
            class="form-control"
            formControlName="valuePattern"
            id="valuePattern"
            name="valuePattern"
            type="text"
            [class.is-invalid]="isInvalid('valuePattern')"
          />
          <div class="invalid-feedback">
            @for (error of errors('valuePattern', 'Value Pattern'); track error) {
              {{ error }}
            }
          </div>
        </div>
      }

      <!-- valueRange - NUMBER only -->
      @if (isType(NUMBER)) {
        <div class="form-group col-12">
          <label class="form-label mt-4" for="valueRange">Value Range:</label>
          <input
            class="form-control"
            formControlName="valueRange"
            id="valueRange"
            name="valueRange"
            type="text"
            [class.is-invalid]="isInvalid('valueRange')"
          />
          <div class="invalid-feedback">
            @for (error of errors('valueRange', 'Value Range'); track error) {
              {{ error }}
            }
          </div>
        </div>
      }

      <!-- allowedValues - ENUM only -->
      @if (isType(ENUM)) {
        <div class="form-group col-12">
          <label class="form-label mt-4">Allowed Values:</label>
          @for (allowedValue of attribute()?.allowedValues; track allowedValue) {
            <div class="attribute-allowed-value">
              <button type="button"
                      class="btn btn-sm btn-link btn-outline-danger"
                      (click)="deleteAllowedValue(allowedValue)">
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </button>
              <div class="value">
                {{ allowedValue }}
              </div>
            </div>
          }

          <div class="attribute-allowed-value new">
            <button class="btn btn-sm btn-success"
                    (click)="addAllowedValue()">
              <fa-icon [icon]="addIcon"></fa-icon>
            </button>
            <input [(ngModel)]="newAllowedValue"
                    [ngModelOptions]="{standalone: true}"
                    autofocus
                    (keyup.enter)="addAllowedValue(); false;">
          </div>
        </div>
      }

    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="cancel()">
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="confirm()"
    [disabled]="!form.valid">
    Confirm
  </button>
</div>
