<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['..']">Administration</a></li>
    <li class="breadcrumb-item active">Entries</li>
  </ol>

  <h1>Administration: Entries</h1>
<!--  <p class="text-primary-emphasis small">-->
<!--    Some explanation here ...-->
<!--  </p>-->

  <div class="row">
    <div class="col admin-controls">
      <button class="btn btn-outline-success" (click)="newEntry()">
        <fa-icon [icon]="newIcon"></fa-icon>
        New entry
      </button>

      <span ngbDropdown>
        <button class="btn btn-outline-secondary"
                id="bulk-action-toggle"
                [disabled]="selectedEntries.length === 0"
                ngbDropdownToggle>
          <fa-icon [icon]="batchActionIcon"></fa-icon>
          Bulk actions
        </button>

        <div ngbDropdownMenu
             aria-labelledby="bulk-action-toggle">
          <button ngbDropdownItem
                  *ngFor="let action of availableBulkActions()"
                  (click)="selectBulkAction(action.id)">
            <fa-icon [icon]="action.icon"></fa-icon>
            {{ action.label }}
          </button>
        </div>
      </span>
    </div>
  </div>

  <div class="row">
    <chronos-entries-table (entryClick)="editEntry($event)"
                           [search]="entrySearch"
                           (submit)="updateSearchParams()"
                           [actions]="tableActions"
                           [entries]="entries$ | async"
                           [selectable]="true"
                           (onSelect)="this.selectedEntries = $event">
    </chronos-entries-table>
  </div>

</div>
