<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['..']">Administration</a></li>
    <li class="breadcrumb-item active">Entries</li>
  </ol>

  <h1>Administration: Entries</h1>
<!--  <p class="text-primary-emphasis small">-->
<!--    Some explanation here ...-->
<!--  </p>-->

  <div class="row">
    <div class="col">
      <button class="btn btn-outline-success" (click)="newEntry()">
        <fa-icon [icon]="newIcon"></fa-icon>
        New entry
      </button>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">
          <input type="search"
                 placeholder="Title"
                 name="entry-search-title"
                 [(ngModel)]="searchEntryTitle"
          >
        </th>
        <th class="icon-col">
        </th>
        <th class="icon-col">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let entry of entries$ | async">
        <tr *ngIf="filterEntry(entry)"
            class="pointer">
          <td (click)="editEntry(entry)">
            {{ entry.title }}
          </td>
          <td (click)="deleteEntry(entry)">
            <fa-icon class="show-on-parent-hover" [icon]="deleteIcon"></fa-icon>
          </td>
          <td class="icon-col"
              (click)="editEntry(entry)">
            <fa-icon class="show-on-parent-hover" [icon]="editIcon"></fa-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

  </div>

</div>
