<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['..']">Administration</a></li>
    <li class="breadcrumb-item active">Entries</li>
  </ol>

  <h1>Administration: Entries</h1>
<!--  <p class="text-primary-emphasis small">-->
<!--    Some explanation here ...-->
<!--  </p>-->

  <div class="row">
    <div class="col admin-controls">
      <button class="btn btn-outline-success" (click)="newEntry()">
        <fa-icon [icon]="newIcon"></fa-icon>
        New entry
      </button>
    </div>
  </div>

  <div class="row">
    <chronos-entries-table (rowClick)="editEntry($event)"
                           [search]="entrySearch"
                           (submit)="updateSearchParams()"
                           [actions]="tableActions"
                           [entries]="entries$ | async">
    </chronos-entries-table>
  </div>

</div>
