@for (notification of notificationService.notifications; track notification) {
  <ngb-toast [class]="notification.classname"
    [autohide]="true"
    [delay]="notification.delay || 5000"
    (hidden)="notificationService.remove(notification)"
    >
    @if (notification.heading) {
      <div class="notification-heading">
        @if (notification.icon) {
          <fa-icon [icon]="notification.icon"></fa-icon>
        }
        {{ notification.heading }}
      </div>
      <div class="notification-text">
        {{ notification.text }}
      </div>
    } @else {
      <div class="notification-text">
        @if (notification.icon) {
          <fa-icon [icon]="notification.icon"></fa-icon>
        }
        {{ notification.text }}
      </div>
    }
  </ngb-toast>
}
