<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled">
          <li class="float-end">
            <a href="#top">Back to top</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">RSS</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
        </ul>
        <p>
          Chronos version {{ version }}. By <a href="https://fvogel.radshift.de/">Florian Vogel</a>
        </p>
      </div>
    </div>
  </div>
</footer>
