
<div class="row">
  <div class="col-7">

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">
          <input type="search"
                 placeholder="Name"
                 name="tag-search-name"
                 [(ngModel)]="searchName"
          >
        </th>
        <th scope="col">
          <input type="search"
                 placeholder="Category"
                 name="tag-search-category"
                 [(ngModel)]="searchCategory"
          >
        </th>
        <th scope="col">
          Color
        </th>
        <th class="icon-col">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let tag of tags$ | async">
        <tr *ngIf="filterTag(tag)"
            [ngClass]="{'table-active': tag.id == currentTag?.id}"
            class="pointer"
            (click)="editTag(tag)">
          <td>
            {{ tag.name }}
          </td>
          <td>
            {{ tag.tagCategory?.name }}
          </td>
          <td>
            <div class="color-indicator" [style.background]="tag.color">
            </div>
          </td>
          <td class="icon-col">
            <fa-icon class="show-on-parent-hover" [icon]="editIcon"></fa-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-5">
    <ng-template #noCurrentTagSelectedTemplate>
      <button class="btn btn-block btn-outline-success" (click)="newTag()">
        <fa-icon [icon]="newIcon"></fa-icon>
        New tag
      </button>
    </ng-template>

    <ng-template [ngIf]="currentTag" [ngIfElse]="noCurrentTagSelectedTemplate">
      <form>
        <fieldset>
          <legend *ngIf="currentTag.id">
            Edit Tag <em>{{ currentTag.name }}</em>
          </legend>
          <legend *ngIf="!currentTag.id">
            Edit New Tag
          </legend>

          <div class="form-group">
            <label for="tag.name"
                   class="form-label mt-4">
              Name:
            </label>
            <input type="text"
                   class="form-control"
                   id="tag.name"
                   name="tag.name"
                   placeholder="e.g. 'Roman empire' or 'Umayyad'"
                   [(ngModel)]="currentTag.name">
          </div>

          <div class="form-group">
            <label for="tag.color"
                   class="form-label mt-4">
              Color:
            </label>
            <div class="color-picker-group">
              <ngx-colors ngx-colors-trigger
                          [(ngModel)]="currentTag.color"
                          [hideTextInput]="true"
                          id="tag.color"
                          name="tag.color"></ngx-colors>
              <div class="color-picker-indicator"
                   [style.color]="currentTag.color">
                {{ currentTag.color }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="tag.category"
                   class="form-label mt-4">
              Category:
            </label>

            <div ngbDropdown class="btn-block">
              <button type="button"
                      class="btn btn-primary"
                      id="tag.category"
                      ngbDropdownToggle>
                {{ currentTag.tagCategory?.name || 'Select a category' }}
              </button>
              <div ngbDropdownMenu
                   aria-labelledby="tag.category">
                <div class="mb-1">
                  <input
                    type="search"
                    class="form-control borderless shadow-none"
                    id="tag.category.search"
                    name="tag.category.search"
                    placeholder="Search ..."
                    [(ngModel)]="searchCategoryInSelection"
                  />
                </div>
                <div class="dropdown-divider"></div>
                <ng-container
                  *ngFor="let category of tagCategories$ | async">
                  <button ngbDropdownItem
                          *ngIf="filterTagCategory(category)"
                          (click)="selectCategory(category)">
                    {{ category.name }}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="button-group">
            <button type="submit"
                    class="btn btn-outline-success"
                    (click)="saveTag()">
              Save
            </button>
            <button type="button"
                    class="btn btn-outline-danger"
                    (click)="cancelEditTag()">
              Cancel
            </button>
            <button *ngIf="currentTag.id"
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteTag(currentTag)">
              Delete
            </button>
          </div>
        </fieldset>
      </form>
    </ng-template>

  </div>

</div>
