@import "../../../theme/variables";

.article {
  margin-top: 3px;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}

.image-container {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  justify-content: center;
  border-radius: $border-radius;
}

.title-container {
  margin-left: 10px;
}