.tag-selection {
  position: relative;
  margin-bottom: 10px;
}

input.inner-control {
  border: none;
  background: none;
  width: 100%;
  padding: 0rem;

  &:focus {
    outline: none;
  }
}

.form-control > .tag-list {
  margin-top: 5px;
}

.copy {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity .25s ease-out;

  &:hover {
    opacity: 1;
  }
}
