<div class="form-control tag-selection">

  <ng-content></ng-content>

  <input type="search"
         class="form-control inner-control shadow-none"
         placeholder="Type to search for tags"
         [ngbTypeahead]="searchTags"
         [resultTemplate]="tagSearchResult"
         [inputFormatter]="tagFormatter"
         [editable]="false"
         [ngModel]="{}"
         (ngModelChange)="addTag($event)"
         (paste)="onPaste($event)"
         (focus)="focus$.next($any($event).target.value)"
         (click)="click$.next($any($event).target.value)"
         #instance="ngbTypeahead">

  <ng-template #tagSearchResult let-r="result" let-t="term">
    <chronos-tag [tag]="r"></chronos-tag>
  </ng-template>

  <div class="tag-list">
    <chronos-tag *ngFor="let tag of tags"
                 [tag]="tag"
                 action="remove"
                 (actionTriggered)="removeTag(tag)"></chronos-tag>
  </div>

  <div class="copy" (click)="copyTags()">
    <fa-icon [icon]="copyIcon"></fa-icon>
  </div>

</div>
