<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a routerLink="../..">Administration</a></li>
  </ol>

  <h1>Administration</h1>

  <section>
    <h5>
      <a routerLink="entries">Entries</a>
    </h5>
    Manage entries, their data and assigned tags and relations.
  </section>
  <section>
    <h5>
      <a routerLink="tags">Tags</a>
    </h5>
    Manage available tags and tag categories.
  </section>
  <section>
    <h5>
      <a routerLink="relation-types">Relation Types</a>
    </h5>
    Manage the types available for the relations between entries.
  </section>
</div>
