.icon {
  padding: 0 3px;
}

th {
}

th, td {
  &:not(.slim) {
    min-width: 60px;
  }

  &.slim {
    padding: 0.5rem 0;
  }

  &.broad {
    width: 50%;
  }

  &.ellipsis {
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.hide-overflow {
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &:after {
      content:'';
      width: 20px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: linear-gradient(90deg, transparent, var(--bs-body-bg));
    }
  }
}

.right {
  text-align: right;
}
