<ng-template #articleInfoTemplate let-article="result">
	<chronos-wikipedia-article-info [article]="article">
    </chronos-wikipedia-article-info>
</ng-template>

<div class="form-control">

    <input
        type="text"
        class="borderless"
        placeholder="Type to search for Wiki articles ..."
        name="search"
        [disabled]="disabled()"
        [(ngModel)]="_selectedArticle"
        (ngModelChange)="onSelect($event)"
        [ngbTypeahead]="onSearch"
        [resultTemplate]="articleInfoTemplate"
        [inputFormatter]="articleTypeaheadResultFormatter">

    @if (isLoading()) {
        <fa-icon [icon]="waitingIcon"
                 class="input-status"
                 animation="spin"></fa-icon>
    } @else {
        <fa-icon [icon]="searchIcon"
                 class="input-status"></fa-icon>
    }

    @if (loadedArticle.value()) {
        <div class="preview">
            <chronos-wikipedia-summary-core [wikiSummary]="loadedArticle.value()!">
            </chronos-wikipedia-summary-core>
        </div>
    }

</div>