<table class="table table-hover">
  <thead>
  <tr>
    <!-- Select -->
    <th scope="col" *ngIf="selectable">
      <input type="checkbox"
             value=""
             id="select-all-entries"
             [ngModel]="allEntriesSelected()"
             (click)="toggleAllEntriesSelection()"
             class="form-check-input">
      <span *ngIf="selectedEntries.size > 0">
        ({{ selectedEntries.size }})
      </span>
    </th>

    <!-- Title -->
    <th scope="col">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="search.title"
               (click)="clearTitle()"
               [size]="'sm'"></fa-icon>
      <input type="search"
             placeholder="Title"
             name="entry-search-title"
             [disabled]="!searchable"
             [(ngModel)]="search.title"
             (keydown.enter)="submit.emit()"
      >
    </th>

    <!-- Subtitle -->
    <th class="col">
    </th>

    <!-- Dates - Start -->
    <th class="col">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="search.start"
               (click)="clearDateQuery()"
               [size]="'sm'"></fa-icon>
      <input type="search"
             class="right"
             placeholder="From"
             name="entry-search-dates-start"
             [disabled]="!searchable"
             [(ngModel)]="search.start"
             (keydown.enter)="submit.emit()"
      >
    </th>

    <!-- Dates - Separator -->
    <th class="col slim">
      -
    </th>

    <!-- Dates - End -->
    <th class="col">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="search.end"
               (click)="clearDateQuery()"
               [size]="'sm'"></fa-icon>
      <input type="search"
             placeholder="To"
             name="entry-search-dates-end"
             [disabled]="!searchable"
             [(ngModel)]="search.end"
             (keydown.enter)="submit.emit()"
      >
    </th>

    <!-- Tags -->
    <th class="col broad">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="tagQuery"
               (click)="tagQuery = ''"
               [size]="'sm'"></fa-icon>
      <input type="search"
             placeholder="Tags"
             name="entry-search-tags"
             [(ngModel)]="tagQuery"
      >
    </th>

    <!-- Actions -->
    <th class="icon-col"
        *ngIf="actions.length > 0">
      <fa-icon *ngIf="searchable"
               [icon]="searchIcon"
               [size]="'sm'"></fa-icon>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let entry of filteredEntries()">
    <tr class="pointer">

      <!-- Select -->
      <th scope="col" *ngIf="selectable">
        <input type="checkbox"
               value=""
               id="select-entry-{{ entry.id }}"
               [ngModel]="isEntrySelected(entry._original)"
               (ngModelChange)="toggleEntrySelection(entry._original)"
               class="form-check-input">
      </th>

      <!-- Title -->
      <td class="main-column"
          (click)="entryClick.emit(entry._original)">
        {{ entry.title }}
      </td>

      <!-- Subtitle -->
      <td class="secondary-column ellipsis"
          (click)="entryClick.emit(entry._original)">
        {{ entry.subTitle }}
      </td>

      <!-- Dates - Start -->
      <td class="secondary-column right">
        {{ entry.start | date: 'y' }}
      </td>

      <!-- Dates - Separator -->
      <td class="secondary-column slim">
        -
      </td>

      <!-- Dates - End -->
      <td class="secondary-column">
        {{ entry.end | date: 'y' }}
      </td>

      <!-- Tags -->
      <td class="broad hide-overflow">
        <ng-container *ngFor="let tag of entry.tags">
          <chronos-tag size="small"
                       [tag]="tag"></chronos-tag>
        </ng-container>
      </td>

      <!-- Actions -->
      <td class="icon-col"
          *ngIf="actions.length > 0">
        <span class="icon"
              *ngFor="let action of actions">
          <fa-icon class="show-on-parent-hover"
                   [ngClass]="action.color ? ('text-' + action.color) : ''"
                   [icon]="action.icon"
                   (click)="action.fn(entry); $event.stopPropagation()"></fa-icon>
        </span>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
