svg {
  width: 100%;
}

.hoverable {
  cursor: pointer;

  & rect {
    fill-opacity: 0.6;
    transition: fill-opacity .25s ease-out;
  }
  & text {
    opacity: 0.6;
    transition: fill-opacity .25s ease-out;
  }

  &.selected rect,
  &:hover rect {
    fill-opacity: 1;
  }
  &.selected text,
  &:hover text {
    opacity: 1;
  }
}
