<svg #stage
     (mousemove)="mousemove($event)"
     (mouseleave)="mouseout()"
     [attr.height]="calculateHeight()">
  <ng-container *ngFor="let line of timelineModel?.helperLines">
    <line [attr.x1]="line.x"
          [attr.x2]="line.x"
          [attr.y1]="0"
          [attr.y2]="elementBox?.height"
          [attr.stroke]="config.helperLines.strokeColor"
          [attr.stroke-opacity]="config.helperLines.strokeOpacity"
          [attr.stroke-width]="config.helperLines.strokeWidth"></line>
    <text [attr.x]="line.x + (cursorCloseToRightEnd(line.x) ? config.helperLines.label.margin : -config.helperLines.label.margin)"
          [attr.y]="(elementBox?.height || 0) - config.helperLines.label.margin"
          [attr.font-size]="config.helperLines.label.fontSize"
          [attr.fill]="config.helperLines.label.color"
          [attr.fill-opacity]="config.helperLines.label.opacity"
          [attr.text-anchor]="cursorCloseToRightEnd(line.x) ? 'start' : 'end'">
      {{ line.date.getFullYear() }}
    </text>
  </ng-container>
  <ng-container *ngIf="cursorLine">
    <line *ngIf="cursorLine"
          [attr.x1]="cursorLine"
          [attr.x2]="cursorLine"
          [attr.y1]="0"
          [attr.y2]="elementBox?.height"
          [attr.stroke]="config.cursorLine.strokeColor"
          [attr.stroke-opacity]="config.cursorLine.strokeOpacity"
          [attr.stroke-width]="config.cursorLine.strokeWidth"></line>
    <text [attr.x]="cursorLine + (cursorCloseToRightEnd(cursorLine) ? config.cursorLine.label.margin : -config.cursorLine.label.margin)"
          [attr.y]="(elementBox?.height || 0) - config.cursorLine.label.margin"
          [attr.font-size]="config.cursorLine.label.fontSize"
          [attr.fill]="config.cursorLine.label.color"
          [attr.fill-opacity]="config.cursorLine.label.opacity"
          [attr.text-anchor]="cursorCloseToRightEnd(cursorLine) ? 'start' : 'end'">
      {{ cursorDate?.getFullYear() }}
    </text>
  </ng-container>
  <ng-container *ngFor="let timelineElementGroup of timelineModel?.timelineElementGroups; let i = index">
    <g class="element-group">
      <ng-container *ngIf="i > 0 && !!timelineElementGroup.elements[0]">
        <line [attr.x1]="0"
              [attr.x2]="elementBox?.width"
              [attr.y1]="timelineElementGroup.elements[0].ranges[0].y - config.groups.distancePx"
              [attr.y2]="timelineElementGroup.elements[0].ranges[0].y - config.groups.distancePx"
              [attr.stroke]="config.groups.line.strokeColor"
              [attr.stroke-opacity]="config.groups.line.strokeOpacity"
              [attr.stroke-width]="config.groups.line.strokeWidth"
              [attr.stroke-dasharray]="config.groups.line.strokeDashArray"></line>
      </ng-container>
      <ng-container *ngFor="let element of timelineElementGroup.elements; let j = index">
        <g class="hoverable"
           [ngClass]="{'selected': selectedEntry?.original?.id === element.timelineEntry.original.id}"
           (click)="selectEntry(element.timelineEntry)">
          <ng-container *ngFor="let range of element.ranges; let j = index">
            <rect [attr.height]="config.bars.height"
                  [attr.width]="range.width"
                  [attr.x]="range.x"
                  [attr.y]="range.y"
                  [attr.fill]="getFill(element.timelineEntry)"></rect>
          </ng-container>
          <text [attr.x]="getMaxXOfRanges(element.ranges) + config.bars.label.margin"
                [attr.y]="element.ranges[0].y + config.bars.height - config.bars.label.margin / 2"
                [attr.font-size]="config.bars.label.fontSize"
                [attr.fill]="config.bars.label.color"
                [attr.fill-opacity]="config.bars.label.opacity">
            {{ element.timelineEntry.title }}
          </text>
        </g>
      </ng-container>
    </g>
  </ng-container>
</svg>
