
.jumbotron {
  background: linear-gradient(39deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%), url("/api/images/jumbotron.jpg");
  background-size: cover;
  height: 250px;
  filter: grayscale(70%);

  .container {
    height: 100%;
  }
}

.jumbotron-content {
  position: absolute;
  bottom: 0;
  mix-blend-mode: plus-lighter;
}
.jumbotron-headline {
  line-height: 1;

  & * {
    margin-right: 5px !important;
  }
}

h1 {
  * {
    vertical-align: bottom;
  }
}

.container {
  padding-top: 1rem;
}
