<div class="container">

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['..']">Administration</a></li>
    <li class="breadcrumb-item active">Tags</li>
  </ol>

  <h1>Administration: Tags</h1>

  <h2>Tags</h2>
  <p class="text-primary-emphasis small">
    Entries can be attributed with tags, to allow for grouping, filtering or
    adding additional, structured data to entries.
    Example: The entry for a ruler may have the tags for <i>Emperor</i> and
    <i>Holy Roman Empire</i> assigned.
  </p>
  <chronos-tags-section></chronos-tags-section>

  <h2>Tag Categories</h2>
  <p class="text-primary-emphasis small">
    Tags need a category to categorize them.
    Example: a tag 'Roman' could refer
    to the <i>culture</i>, the <i>territory</i>, a <i>period</i> etc. - the
    corresponding category helps to establish the correct context.
  </p>
  <chronos-tag-categories-section></chronos-tag-categories-section>
</div>
