<div class="form-control"
     (click)="doFocus()"
     [ngClass]="{'is-invalid': invalid}">

  <span class="no-break inline-block">
    <span class="label">
      From
    </span>
    <span class="era-ad" *ngIf="from >= 0">
      AD
    </span>
    <input #fromInput
           type="number"
           class="borderless from"
           name="editDate.from"
           [(ngModel)]="from"
           (click)="$event.stopPropagation()"
           (keydown)="keyDown($event)">
    <span class="era-bc" *ngIf="from < 0">
      BC
    </span>
  </span>

  <span class="no-break inline-block">
    <span class="label">
      to
    </span>
    <span class="era-ad" *ngIf="to >= 0">
      AD
    </span>
    <input type="number"
           class="borderless to"
           name="editDate.to"
           max="2999"
           [(ngModel)]="to"
           (click)="$event.stopPropagation()"
           (keydown)="keyDown($event)">
    <span class="era-bc" *ngIf="to < 0">
      BC
    </span>
  </span>

  <fa-icon [icon]="resetIcon"
           class="reset-button"
           [ngClass]="{'text-danger': invalid}"
           (click)="resetDateRange()"></fa-icon>

</div>

<div *ngIf="invalid"
     class="text-danger-emphasis small">
  Start date must be after end date
</div>
