<div class="container">
  <h1>Discover</h1>

  <div class="button-group">
    <button class="btn btn-primary btn-sm"
            *ngIf="!showSearchInputs"
            (click)="setShowSearchInputs(true)">
      <fa-icon [icon]="showSearchIcon"></fa-icon>
      Show search
    </button>
  </div>

  <section class="row">
    <div [ngClass]="showSearchInputs ? 'col-md-4' : 'col-md-0'">

      <h3>Search</h3>

      <div class="form-group">
        <label class="form-label mt-2">
          Filter by title:
        </label>

        <input class="form-control"
               type="search"
               placeholder="Search"
               [(ngModel)]="title"
               (keydown)="keyDown($event)"
        >
      </div>

      <div class="form-group">
        <label class="form-label mt-2">
          Filter by year:
        </label>
        <chronos-year-range-input [(from)]="from"
                                  [(to)]="to"
                                  (submit)="updateSearchParams()">
        </chronos-year-range-input>
      </div>

      <div class="form-group">
        <label for="tag.category"
               class="form-label mt-4">
          Color Category:
        </label>

        <div ngbDropdown class="btn-block">
          <button type="button"
                  class="btn btn-primary"
                  id="tag.category"
                  ngbDropdownToggle>
            {{ selectedColorTagCategory?.name || 'Select a category' }}
          </button>
          <div ngbDropdownMenu
               aria-labelledby="tag.category">
            <div class="mb-1">
              <input
                type="search"
                class="form-control borderless shadow-none"
                id="tag.category.search"
                name="tag.category.search"
                placeholder="Search ..."
                [(ngModel)]="colorCategorySearch"
              />
            </div>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem
                    (click)="selectColorTagCategory(undefined)">
              None
            </button>
            <ng-container
              *ngFor="let category of tagCategories">
              <button ngbDropdownItem
                      *ngIf="filterTagCategory(category)"
                      (click)="selectColorTagCategory(category)">
                {{ category.name }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-group tag-selection">
        <label class="form-label mt-2">
          Filter by tags:
        </label>
        <ng-container *ngFor="let selectedTagGroup of selectedTagGroups; index as i; trackBy:trackSelectedTagGroup">
          <chronos-tag-selection [(tags)]="selectedTagGroups[i]"
                                 [availableTags]="(tags$ | async) || []"
                                 (tagsChange)="updateSearchParams()">
            <div class="remove-button"
                 (click)="removeSelectedTagGroup(selectedTagGroup)">
              <fa-icon [icon]="deleteIcon"></fa-icon>
            </div>
          </chronos-tag-selection>
        </ng-container>

        <div class="button-group">
          <button class="btn btn-primary"
                  (click)="addTagGroup()">
            <fa-icon [icon]="addIcon"></fa-icon>
            Add tag group
          </button>
        </div>
      </div>

      <div class="button-group">
        <button class="btn btn-outline-success"
                *ngIf="showSearchInputs"
                (click)="updateSearchParams()">
          Search
        </button>
        <button class="btn btn-primary"
                *ngIf="showSearchInputs"
                (click)="setShowSearchInputs(false)">
          <fa-icon [icon]="hideSearchIcon"></fa-icon>
          Hide Search
        </button>

        <button class="btn btn-primary btn-sm"
                *ngIf="!showSearchInputs"
                (click)="setShowSearchInputs(true)">
          <fa-icon [icon]="showSearchIcon"></fa-icon>
          Show search
        </button>
      </div>

    </div>

    <div class="col-md-8" *ngIf="entries.length > 0">

      <h3>Timeline</h3>

      <chronos-timeline [entries]="entries"
                        [colorCategory]="selectedColorTagCategory"
                        (entrySelected)="onEntrySelected($event)"
                        [fromYear]="from"
                        [toYear]="to">
      </chronos-timeline>

      <div class="tag-legend" *ngIf="colorCategoryId">
        Tag Legend:
        <ng-container *ngFor="let tag of tags$ | async">
          <chronos-tag *ngIf="tag.tagCategory?.id === colorCategoryId"
                       [tag]="tag"
                       size="small"
                       [hideCategory]="true">
          </chronos-tag>
        </ng-container>
      </div>

      <div *ngIf="selectedEntrySummary"
           class="info-section">
        <chronos-wikipedia-summary [wikiSummary]="selectedEntrySummary">
        </chronos-wikipedia-summary>
        <ng-template>
          No summary available
        </ng-template>
      </div>

    </div>

  </section>

</div>
