section {
  margin-top: 2rem;
  padding: 5px 0;
}

.remove-button {
  position: absolute;
  right: -1.5rem;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.tag-legend {
  margin-top: 10px;
  font-size: 10px;
}

.info-section {
  margin-top: 10px;
  margin-left: 10px;
}

.col-md-4,
.col-md-8 {
  flex-grow: 1;
  transition: all 400ms ease;
}
.col-md-0 {
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  width: 0;
  flex-shrink: 1;
  transition: all 400ms ease;
}

.input-group-last {
  border-bottom-right-radius: var(--bs-btn-border-radius) !important;
  border-top-right-radius: var(--bs-btn-border-radius) !important;
}
