<div ngbDropdown class="btn-block">
  <button type="button"
          class="btn btn-primary"
          id="entry.title"
          ngbDropdownToggle>
    {{ entry?.title || 'Select an entry' }}
  </button>
  <div ngbDropdownMenu
       aria-labelledby="entry.title">
    <div class="mb-1">
      <form autocomplete="off">
        <input
          type="search"
          class="form-control borderless shadow-none"
          id="entry.title.search"
          name="entry.title.search"
          autocomplete="false"
          placeholder="Search ..."
          [value]="entry?.title"
          (input)="onType($event)"
        />
        <input autocomplete="false"
               name="hidden"
               type="text"
               style="display:none;">
      </form>
    </div>
    <div class="dropdown-divider"></div>
    <ng-container
      *ngFor="let entry of entries$ | async">
      <button ngbDropdownItem
              (click)="select(entry)">
        {{ entry.title }}
      </button>
    </ng-container>
  </div>
</div>
