@use "variables";
@use "bootstrap/scss/bootstrap.scss";

// Minty 5.3.2
// Bootswatch



// Navbar

.navbar {
  font-family: variables.$headings-font-family;
}

// Buttons

.btn {
  font-family: variables.$headings-font-family;

  &,
  &:hover {
    color: variables.$white;
  }

  &-light,
  &-light:hover {
    color: variables.$gray-700;
  }

  &-link,
  &-link:hover {
    color: variables.$primary;
  }

  &-link.disabled:hover {
    color: variables.$gray-600;
  }

  &-outline-primary {
    color: variables.$primary;
  }

  &-outline-secondary {
    color: variables.$secondary;
  }

  &-outline-success {
    color: variables.$success;
  }

  &-outline-info {
    color: variables.$info;
  }

  &-outline-warning {
    color: variables.$warning;
  }

  &-outline-danger {
    color: variables.$danger;
  }

  &-outline-dark {
    color: variables.$dark;
  }

  &-outline-light {
    color: variables.$light;
  }
}

// Forms

legend {
  font-family: variables.$headings-font-family;
}

// Navs

.dropdown-menu {
  font-family: bootstrap.$font-family-sans-serif;
}

.breadcrumb {
  a {
    color: bootstrap.$navbar-dark-color;
  }

  a:hover {
    color: variables.$white;
    text-decoration: none;
  }
}

// Indicators

.alert {
  a,
  .alert-link {
    color: variables.$white;
  }

  &-light {

    &,
    a:not(.btn),
    .alert-link {
      color: variables.$body-color;
    }
  }
}

.badge {
  color: variables.$white;

  &.bg-light {
    color: variables.$gray-700;
  }
}

// Containers

.card,
.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}
