<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
  <div class="container">
    <ng-container *ngIf="title">
      <a class="navbar-brand" [routerLink]="title.routerLink">
        {{ title.label }}
      </a>
    </ng-container>
    <button class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         [ngbCollapse]="isMenuCollapsed"
         id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let menuItem of menuItems">
          <ng-container *ngIf="menuItem.show$ === undefined || (menuItem.show$ | async)">
            <li class="nav-item">
              <a class="nav-link"
                 [routerLink]="menuItem.routerLink"
                 [routerLinkActive]="'active'"
                 [routerLinkActiveOptions]="{exact: true}">
                {{ menuItem.label }}
              </a>
            </li>
          </ng-container>
        </ng-container>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
        -->
      </ul>

      <div *ngIf="isLoggedIn()">
        {{ userName$() | async }}
        <button class="btn btn-outline-danger"
                type="button"
                (click)="logout()"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
