<table class="table table-hover">
  <thead>
  <tr>
    <!-- Select -->
    <th scope="col" *ngIf="selectable">
      <input type="checkbox"
             value=""
             id="select-all-entities"
             [ngModel]="allEntitiesSelected()"
             (click)="toggleAllEntitiesSelection()"
             class="form-check-input">
      <span *ngIf="selectedEntities.size > 0">
        ({{ selectedEntities.size }})
      </span>
    </th>

    <!-- Key -->
    <th scope="col">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="search.key"
               (click)="clearKey()"
               [size]="'sm'"></fa-icon>
      <input type="search"
             placeholder="Key"
             name="entityPO-search-key"
             [disabled]="!searchable"
             [(ngModel)]="search.key"
             (keydown.enter)="submit.emit()"
      >
    </th>

    <!-- Dates - Start -->
    <th class="col">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="search.from"
               (click)="clearDateQuery()"
               [size]="'sm'"></fa-icon>
      <input type="search"
             class="right"
             placeholder="From"
             name="entityPO-search-dates-from"
             [disabled]="!searchable"
             [(ngModel)]="search.from"
             (keydown.enter)="submit.emit()"
      >
    </th>

    <!-- Dates - Separator -->
    <th class="col slim">
      -
    </th>

    <!-- Dates - End -->
    <th class="col">
      <fa-icon [icon]="clearIcon"
               class="pointer"
               *ngIf="search.to"
               (click)="clearDateQuery()"
               [size]="'sm'"></fa-icon>
      <input type="search"
             placeholder="To"
             name="entityPO-search-dates-to"
             [disabled]="!searchable"
             [(ngModel)]="search.to"
             (keydown.enter)="submit.emit()"
      >
    </th>

    <!-- Actions -->
    <th class="icon-col"
        *ngIf="actions.length > 0">
      <fa-icon *ngIf="searchable"
               [icon]="searchIcon"
               [size]="'sm'"></fa-icon>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let entityPO of filteredEntities()">
    <tr class="pointer"(click)="entityClick.emit(entityPO)">

      <!-- Select -->
      <th scope="col" *ngIf="selectable">
        <input type="checkbox"
               value=""
               id="select-entityPO-{{ entityPO.id }}"
               [ngModel]="isEntitySelected(entityPO._original)"
               (ngModelChange)="toggleEntitySelection(entityPO._original)"
               class="form-check-input">
      </th>

      <!-- Key -->
      <td class="main-column"
          (click)="entityClick.emit(entityPO._original)">
        {{ entityPO.key }}
      </td>

      <!-- Dates - Start -->
      <td class="secondary-column right">
        {{ entityPO.from }}
      </td>

      <!-- Dates - Separator -->
      <td class="secondary-column slim">
        -
      </td>

      <!-- Dates - End -->
      <td class="secondary-column">
        {{ entityPO.to }}
      </td>

      <!-- Actions -->
      <td class="icon-col"
          *ngIf="actions.length > 0">
          <div ngbDropdown>
            <fa-icon [icon]="ellipsisIcon" ngbDropdownToggle
                     (click)="$event.stopPropagation()"></fa-icon>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem
                      *ngFor="let action of actions"
                      [ngClass]="action.color ? ('text-' + action.color) : ''"
                      (click)="action.fn(entityPO); $event.stopPropagation()">
                  <fa-icon [icon]="action.icon"></fa-icon>
                  {{ action.text }}
              </button>
            </div>
          </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
